{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Disscusion for everyone</h1>
        
        
        

        <p>
            <a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-media-objects.php" target="_blank">Пример</a> того, как можно сделать отображение комментариев.
        </p>
        
        <p>Пример возможного оформления страницы:</p>

        <img class="img-fluid my-3 border" src="{{ url_for('static', filename='images/post-example-page.png') }}" alt="Post page example">

       

    
    </div>
</div>
{% endblock %}